<div class="write-container">
  <div class="row">
    <div class="col-sm-12">
      <form role="form" action="/uploadForm" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="输入文章标题">
        </div>
        <div class="form-group">
          <input type="text" name="tag" class="form-control" placeholder="文章标签">
        </div>
        <div class="form-group">
          <textarea id="post_editor" name="content" class="form-control" rows="20" placeholder="文章内容"></textarea>
          <iframe id="form_target" name="form_target" style="display: none"></iframe>
          <form id="file_upload_form" target="form_target" method="post" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden">
            <input id="img_input" name="image" type="file" (change)="fileInputChangeHandler()">
          </form>
        </div>
        <button type="submit" class="btn btn-success">提交</button>
      </form>
    </div>
  </div>
</div>
